.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 10px;
}
.logOutButton {
  padding: 10px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: black;
}
.logoutName {
  font: normal normal 20px/120% 'Roboto', sans-serif;
}