$day-container-border-color: rgb(207, 207, 207);
$day-container-bg-color: transparent;
$day-container-bg-color-hover: black;
$day-container-text-color-hover: white;
$day-name-color: rgb(207, 207, 207);
$marker-tasks-color: rgb(255, 220, 155);
$marker-incompleted-tasks-color: rgb(255, 145, 0);

$tablet: 768px;
$mobile: 450px;
