@import '../../../sass/abstract/variables';

.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 150px;
  height: 200px;
  flex: 1 0 150px;

  border: 2px solid $day-container-border-color;
  background-color: $day-container-bg-color;
  border-radius: 10%;

  &:hover {
    background-color: $day-container-bg-color-hover;
    color: $day-container-text-color-hover;
  }
}
.containerHover {
  background-color: $day-container-bg-color-hover;
  color: $day-container-text-color-hover;
}
.dayName {
  color: $day-name-color;
  font: normal bold 30px/120% "Roboto", sans-serif;
}
.monthDay {
  font: normal bold 30px/120% "Roboto", sans-serif;
}
.monthName {
  font: normal bold 15px/120% "Roboto", sans-serif;
}
.year {
  font: normal bold 15px/120% "Roboto", sans-serif;
}
.markersContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.markerTasks {
  background-color: $marker-tasks-color;
}
.markerIncompletedTasks {
  background-color: $marker-incompleted-tasks-color;
}

@media (max-width: $tablet) {
  .dayName {
    color: $day-name-color;
    font: normal bold 20px/120% "Roboto", sans-serif;
  }
  .monthDay {
    font: normal bold 20px/120% "Roboto", sans-serif;
  }
  .monthName {
    font: normal bold 10px/120% "Roboto", sans-serif;
  }
  .year {
    font: normal bold 10px/120% "Roboto", sans-serif;
  }
  .container {
    width: 75px;
    height: 100px;
    flex: 1 0 75px;
    gap: 3.5px;
  }
  .marker {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
}
